.rotate-in-down-left {
    animation: 1s rotate-in-down-left;
}

@keyframes rotate-in-down-left {
    from {
        transform-origin: left bottom;
        opacity: 0;
        transform: rotate3d(0, 0, 1, -90deg);
    }

    to {
        transform-origin: left bottom;
        opacity: 1;
        transform: rotate3d(0, 0, 1, 0deg);
        animation-timing-function: ease-in;
    }
}