.heartbeat {
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes heartbeat {
    from,
    to,
    50% {
        transform: scale3d(1, 1, 1);
    }

    25%,
    75% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
}