.bounce-in-down {
    animation-name: bounce-in-down;
    animation-duration: 1s;
    /* animation-timing-function: ease-in-out; */
}

@keyframes bounce-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }

    40% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }

    60% {

        transform: translate3d(0, 0, 0);
    }

    80% {
        transform: translate3d(0, -10px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}