.fade-in-down {
    animation: 0.8s fade-in-down;
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}