.rotate-out-up-right {
    animation: 1s rotate-out-up-right;
}

@keyframes rotate-out-up-right {
    from {
        opacity: 1;
        transform: rotate3d(0, 0, 1, 0deg);
        transform-origin: right bottom;
    }

    to {
        opacity: 0;
        transform: rotate3d(0, 0, 1, 90deg);
        transform-origin: right bottom;
        animation-timing-function: ease-in;
    }
}