.rotate-out-up-left {
    animation: 1s rotate-out-up-left;
}

@keyframes rotate-out-up-left {
    from {
        opacity: 1;
        transform: rotate3d(0, 0, 1, 0deg);
        transform-origin: left bottom;
    }

    to {
        opacity: 0;
        transform: rotate3d(0, 0, 1, -90deg);
        transform-origin: left bottom;
        animation-timing-function: ease-in;
    }
}