.fade-out-up {
    animation: 0.8s fade-out-up;
}

@keyframes fade-out-up {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }
}