.bounce-in-up {
    animation-duration: 1s;
    animation-name: bounce-in-up;
}

@keyframes bounce-in-up {
    from {
        opacity: 0;
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 3000px, 0);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    70% {
        transform: translate3d(0, -25px, 0);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    80% {
        transform: translate3d(0, 15px, 0);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    90% {
        transform: translate3d(0, -5px, 0);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    to {
        transform: translate3d(0, 0, 0);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}